html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1{
/* select your gender*/
    position: absolute;
    top: 200px;
    left: 630px;
}
.male{
/*male avatar*/
    position: absolute;
    top:300px;
    left: 410px;
}

.female{
/*female avatar*/
    position: absolute;
    top: 300px;
    left: 710px;
}



.container {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    opacity: 0.5;
    text-shadow: 1px 1px white;
    padding: 3rem;
    text-shadow: 0 1px #00000010;
    width: 700px;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    box-shadow: #000;
    min-height:600px;
}




img:hover{
/* images fade when mouse is placed on it*/
    opacity: 0.7;
}

@media ( max-width: 1280px ) and ( min-width: 800px ) {
    img.male { 
        
    position: relative;
    top: 300px;
    left:-100px;
    }
}
