html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body{
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box;

}
nav{
    width: 100%;
}
div{
    width: 100%;
}

.head {
    width: 100%;
    height: 100vh;
    display: inline-block;
}

nav {
    width: 100%;
    height: 70px;
    background-color: #fff;
    line-height: 70px;
    box-shadow: 3px 7px #ECF0F1;
}

nav ul {
    float: left;
    margin-top: 8px;
    font-size: 15px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    height: 2px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0px 20px 0px;
    color: #696969;
}

/* for myntra logo */
nav img {
    float: left;
    margin-top: 20px;
}

/* for search bar */
#search {
    height: 43px;
    width: 400px;
    left: 80px;
    position: relative;
    top: -8px;
}

/* for profile whishlist and bag*/
.profile {

    display: grid;

    grid-template-areas: 'nav nav nav profile';

    position: relative;
   left:1140px;
    top: -85px;

    width: 60px;
    height: 50px;
}




.offer2 {

    position: relative;
    top: -397px;
    left: 160px;
   
}

.offer1 {

    position: relative;
    top: 110px;
    left: -95px;
   

}

.slideshow-container {


    position: relative;
    top: -900px;
    left: 470px;
   

}
@media ( max-width: 1280px ) and ( min-width: 800px ) {
    nav ul li a {
       
        padding: 0px 10px 0px;
        
    }
    #search {
        height: 33px;
        width: 300px;
        left: 80px;
        position: relative;
        top: -3px;
        left: 20px;
    }
    .profile {

        
        position: relative;
       left:890px;
        top: -80px;
        width: 60px;
        height: 50px;
    }

   
    
    .offer1 {
    
        width: 500px;
        height: 400px;
        position: absolute;
        top: 200px;
        left: 28px;
       
    
    }
    .offer2 {
        width: 400px;
        height: 300px;
        position: absolute;
        top: 200px;
        left: 953px;
       
    }
    
    .slideshow-container {
        width: 400px;
        height: 300px;
        position: absolute;
        top: 200px;
        left: 341px;
       
    }
    
  }
 

